<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Add New Blog Page</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-3">
      <form action="/blog" method="post" enctype="multipart/form-data">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          aria-describedby="title"
          placeholder="Title"
        />

        <label for="coverImage" class="form-label">Cover Image</label>
        <input
          type="file"
          class="form-control"
          id="coverImage"
          name="coverImage"
          aria-describedby="coverImage"
          placeholder="coverImage"
        />

        <div class="mt-4">
          <label for="body">Body</label>
          <textarea
            class="form-control"
            placeholder="add blog content  here"
            id="body"
            name="body"
          ></textarea>
        </div>
        <div class="mt-4">
          <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <%- include('./partials/script') %>
  </body>
</html>
